* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}


header {

    background-color: #171d29;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 8px;
}


main {
    margin-top: 7vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
    width: 100%;

}

main section h1 {
    color: #050d18;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}


main section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


strong {
    font-weight: 800;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #171d29;
    padding: 2vw;}


.card-title{
    font-size: 0.8rem !important;
}

.btn-primary{
    background-color: #050d18 !important;
    border: none !important;
}

.card {
    box-shadow: 0px 13px 14px 0px rgb(0, 0, 0, 0.7);
    transition: ease-in-out 0.5s;
}

.card:hover{
    transform: scale(1.1);
}

.sec{
    margin-top: 12vh;
}

